a.navbar-brand {
  display: contents;
}
.navbar-dark .navbar-brand {
  color: lightgreen;
}
body{
  padding-top: 70px;
  margin-bottom: 50px;
}
.navbar-brand img {
  height: 1em;
}

#100card, #200card {
  width: 18rem;
}

.rewardImage {
  height: 5em;
}
